<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="message_form">
        <%= render 'shared/message_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Messages Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to The RailsCapstoneRetwitter</h1>

    <h2>
      This is the home page for the capstone project for ruby on rails.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <%= link_to image_tag("twitter.png", alt: "Rails logo"),
              '#', class: 'col-lg-3' %>

<% end %>