<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if logged_in? %>
  </aside>
  

  <div class="col-md-8">
    <% if @user.messages.any? %>
      <h3>Messages (<%= @user.messages.count %>)</h3>
      <ol class="messages">
        <%= render @messages %>
      </ol>
      <%= will_paginate @messages %>
    <% end %>
  </div>
</div>