<% @user = current_user %>
<div class="stats row mt-3">
  <a href="<%= following_user_path(@user) %>" class='stat pl-3 pr-3 pt-2 pb-2 border'>
    <strong id="following" class="text-dark">
      <%= @user.following.count %>
    </strong> <br>
    <span class='font-f'>
    Following
    </span>
  </a>
  <a href="<%= followers_user_path(@user) %>" class='stat pl-3 pr-3 pt-2 pb-2 border'>
    <strong id="followers" class="text-dark">
      <%= @user.followers.count %>
    </strong><br>
    <span class='font-f'>
    Followers
    </span>
  </a>
  <div class='pl-3 pr-3 pt-2 pb-2 border-top border-bottom'>
    <span class='text-dark font-f1'><%= current_user.messages.count %></span> <br>
    <span class='stat font-f'>
    Messages</span>
  </div>
</div>