<section>
  <ul class='menu-list'>
    <li class='pr-5 pl-5 pt-3 pb-3 home-btn'><%= link_to "Home", root_path, class: 'white-link' %></li>
    <li class='pr-4 pt-2 pb-2'><%= link_to "Users", users_path, class: 'stat' %></li>
    <% if logged_in? %>
      <li class='mr-4 pt-2 pb-2'><%= link_to "Profile", current_user, class: 'stat' %></li>
      <li class='mr-4 pt-2 pb-2'><%= link_to "Edit profile", edit_user_path(current_user), class: 'stat' %></li>
      <li class='pr-4 pt-2 pb-2'><%= link_to "Log out", logout_path, method: "delete", class: 'stat' %></li>
      </li>
    <% else %>
      <li><%= link_to "Log in", login_path, class: 'stat' %></li>
    <% end %>
  </ul>
</section>